@import './base.css';

#app {
  /**
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

   */

  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(18,33,34,0.81);
    color: #818b96;
  }
}

/**
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }

 */




